:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient( 135deg, #00CAFD 50%, #00B0FF 100%);
    --vp-button-brand-bg: #00B0FF;
    --vp-button-brand-hover-bg: #66C1FF;
    --vp-button-brand-border: #008CD8;
    --vp-button-brand-hover-border: #008CD8;
    --vp-button-brand-active-border: #008CD8;
    --vp-c-green: #00B0FF;
    --vp-c-brand-dark: #0070B9;
}

.logo {
    margin-bottom: 4px;
}

@media screen and (min-width: 960px) {
    .image {
        height: 248px;
    }
}



