.tiny-carousel {
  position: relative;
  overflow: hidden;
}

.tiny-carousel .carousel-panels {
  height: 100%;
}

.tiny-carousel .carousel-panels .carousel-panel {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.tiny-carousel .carousel-panels .carousel-panel.active,
.tiny-carousel .carousel-panels .carousel-panel.next,
.tiny-carousel .carousel-panels .carousel-panel.prev {
  display: block;
}

.tiny-carousel .carousel-panels .carousel-panel.active.right,
.tiny-carousel .carousel-panels .carousel-panel.next {
  transform: translateX(100%);
}

.tiny-carousel .carousel-panels .carousel-panel.active.left,
.tiny-carousel .carousel-panels .carousel-panel.prev {
  transform: translateX(-100%);
}

.tiny-carousel .carousel-panels .carousel-panel.active,
.tiny-carousel .carousel-panels .carousel-panel.next.left,
.tiny-carousel .carousel-panels .carousel-panel.prev.right {
  transform: translateX(0);
}

.tiny-carousel .carousel-panels .carousel-panel:nth-child(even) {
  background-color: #ddd;
}

.tiny-carousel .carousel-panels .carousel-panel:nth-child(odd) {
  background-color: #ccc;
}

.tiny-carousel .carousel-arrows .carousel-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: rgba(31, 45, 61, 0.11);
  opacity: 0;
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
}

.tiny-carousel .carousel-arrows .carousel-arrow::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.tiny-carousel .carousel-arrows .carousel-arrow.arrow-prev {
  left: 10px;
  transform: translateX(-10px) translateY(-50%);
}

.tiny-carousel .carousel-arrows .carousel-arrow.arrow-prev::before {
  transform: rotate(-45deg);
}

.tiny-carousel .carousel-arrows .carousel-arrow.arrow-next {
  right: 10px;
  transform: translateX(10px) translateY(-50%);
}

.tiny-carousel .carousel-arrows .carousel-arrow.arrow-next::before {
  transform: rotate(135deg);
}

.tiny-carousel .carousel-arrows .carousel-arrow:hover {
  background: rgba(31, 45, 61, 0.23);
}

.tiny-carousel:hover .carousel-arrows .carousel-arrow.arrow-prev {
  transform: translateX(0) translateY(-50%);
  opacity: 1;
}

.tiny-carousel:hover .carousel-arrows .carousel-arrow.arrow-next {
  transform: translateX(0) translateY(-50%);
  opacity: 1;
}

.tiny-carousel .carousel-dots {
  position: absolute;
  display: flex;
  z-index: 1;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.tiny-carousel .carousel-dots .carousel-dot {
  padding: 8px 0;
  margin: 0 4px;
  cursor: pointer;
}

.tiny-carousel .carousel-dots .carousel-dot::before {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background: #999;
  transition: all 0.3s;
}

.tiny-carousel .carousel-dots .carousel-dot.active::before {
  background: #fff;
}